.block-photographer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  background-color: var(--light-grey);
  width: var(--width-xl);
  height: var(--height-block-photographer);
  margin: auto;
}
.photographer__contact {
  height: var(--spacing-large);
  color: white;
  background-color: var(--color-photographer);
  border: none;
  border-radius: 5px;
  width: 10rem;
  margin-top: var(--spacing-xxl);
}
.photographer-infos {
  justify-self: center;
  align-self: center;
}
.photographer__name-page {
  margin: 0;
  font-size: var(--font-size-large);
  text-align: initial;
}
.photographer__img-page {
  justify-self: end;
  margin-right: var(--spacing-xxl);
  align-self: center;
}
.photographers__price__pages {
  margin: var(--spacing-base) 0 0 var(--spacing-xl);
}
.button-contact {
  height: var(--spacing-xxl);
  margin-top: var(--spacing-base);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: white;
}
.photographers__img__pages {
  width: var(--width-photographer-block);
  align-self: center;
}
.header-logo__pages {
  margin: var(--spacing-base) 0 var(--spacing-xl) var(--spacing-xxl);
}
.block-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  margin-top: var(--margin-top-photographers);
}
.photo-list {
  width: var(--width-photo);
  height: var(--height-photo);
  object-fit: cover;
}
.photographer-work {
  justify-self: center;
}
.photographer-work__photos {
  width: var(--width-photographer-img);
  height: var(--height-photographer-img);
  object-fit: cover;
  border-radius: var(--border-radius-photographer-img);
}
.photographer-work__description {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.1fr;
}
.photographer-work__heart {
  align-self: center;
}
.photographer-work__likes {
  color: var(--color-photographer);
}
.photographer-work__title {
  color: var(--color-photographer);
}
.sortby {
  margin: var(--margin-top-photographers) 0 0 var(--spacing-xxl);
  display: flex;
  position: relative;
}
.dropdown {
  margin-left: var(--spacing-base);
}
.dropdown-button {
  height: var(--spacing-xxl);
  width: 10rem;
  color: white;
  background-color: #901c1c;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-open {
  display: flex;
  flex-direction: column;
  background-color: #901c1c;
  position: absolute;
  left: 76px;
  top: var(--spacing-xxl);
  display: none;
}
.dropdown-open__link {
  height: var(--spacing-xxl);
  width: var(--width-dropdown);
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.element__likes {
  bottom: var(--spacing-base);
  position: fixed;
  right: var(--spacing-xxl);
  display: flex;
  justify-content: space-around;
  background: #db8876;
  width: var(--width-element-likes);
}

.total-heart {
  display: flex;
  align-self: center;
}

.zoom-photos {
  position: fixed;
  left: 43%;
  top: 50%;
  width: 35rem;
  height: 40rem;
}

.carousel__photos {
  width: var(--spacing-xl);
  height: 5rem;
}

.modal-body {
  flex-direction: column;
  display: none;
  position: fixed;
  width: var(--width-modal-body);
  height: var(--height-modal-body);
  top: var(--pourcent-medium);
  left: var(--pourcent-medium);
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #db8876;
}

.text-message {
  height: var(--spacing-large);
}

input {
  width: var(--input-width);
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xs);
}

.Modal-button {
  padding: var(--spacing-xs);
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: var(--spacing-xxs);
}

#errorfirstname {
  display: none;
}

#errorlastname {
  display: none;
}

#error-mail {
  display: none;
}

.is-visible {
  display: flex;
}

.is-not-visible {
  display: none;
}

.formData {
  margin-left: var(--spacing-xl);
}

.contact-photographer {
  display: flex;
  margin-left: var(--spacing-xl);
  font-size: var(--font-size-large);
}

#message {
  height: var(--height-message);
  width: var(--width-base);
}

.text-control {
  width: var(--width-base);
}

.btn-submit {
  height: var(--spacing-xxl);
  width: var(--width-btn-submit);
  margin-left: var(--spacing-xl);
  color: white;
  background-color: #911c1c;
  border: none;
  border-radius: 5px;
}

.contact-cross {
  position: absolute;
  right: var(--spacing-base);
  top: var(--spacing-base);
  color: white;
}

#icon-transparent {
  display: none;
}
