.block-photographers__contact{
    background-color: var(--light-grey);
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    justify-items: center;
}
.photographers__title{
    margin: 0 0 var(--spacing-base) var(--spacing-xl);
    color: var(--color-secondary);
    padding-top: var(--spacing-base);
}
.photographers__localisation__pages{
    margin: 0 0 0 var(--spacing-xl);
    font-size: var(--font-size-base);
}
.photographers__price__pages{
    margin: var(--spacing-base) 0 0 var(--spacing-xl);
}
.button-contact{
    height: var(--spacing-xxl);
    margin-top: var(--spacing-base);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: white;
}
.photographers__img__pages{
    width: 35%;
    align-self: center;
}
.header-logo__pages{
    margin: var(--spacing-base) 0 var(--spacing-xl) var(--spacing-xxl);
}
.block-photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
}
.photo-list{
    width: var(--width-photo);
    height: var(--height-photo);
    object-fit: cover;
}