:root {
  --spacing-xs: 0.5rem;
  --spacing-base: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;
  --border-base: solid 1px #c4c4c4;
  --color-primary: #901c1c;
  --color-secondary: #d3573c;
  --light-grey: #fafafa;
  --light-dark: #757575;
  --font-size-base: 1rem;
  --font-size-large: 2rem;
  --border-radius-photos: 7rem;
  --margin-top-photographers: 5rem;
  --width-photo: 35rem;
  --height-photo: 35rem;
}
