.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}
.header-container__tag {
  align-self: center;
  display: flex;
}
.header__tag {
  display: flex;
  padding: 0.5rem 0.5rem;
  margin-right: 0.5rem;
}
.header-logo {
  height: var(--spacing-xxl);
  margin-top: var(--spacing-base);
}
.header-title {
  color: var(--color-primary);
}
.order-list {
  display: flex;
}
.nav-list {
  list-style-type: none;
}
.nav-list__header {
  margin: var(--spacing-base) var(--spacing-base) 0 0;
}
.nav-link {
  text-decoration: none;
  color: var(--color-primary);
  border: var(--border-base);
  border-radius: var(--spacing-base);
  padding: var(--spacing-xs);
}
