#photographers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: var(--margin-top-photographers);
}
.photographer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.photographer__img {
  border-radius: var(--border-radius-photos);
}
.photographer__name {
  text-align: center;
  color: var(--color-secondary);
  font-size: var(--font-size-medium);
  margin: var(--spacing-xs) 0 var(--spacing-xs) 0;
  font-family: "DM sans", sans-serif;
}
.photographer__link {
  text-decoration: none;
}
.home-photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photographer__city {
  margin: 0;
  color: var(--color-primary);
}
.photographer__tagline {
  margin: 0;
}
.photographer__price {
  margin: 0;
  color: var(--light-dark);
}
.tag {
  background-color: transparent;
  border: var(--border-base);
  border-radius: var(--border-radius-base);
  color: var(--color-primary);
}
.nav-list__main {
  margin-right: var(--spacing-xs);
}
